@page
@model ViesbucioPuslapis.Pages.GymReservationViewModel
@{
    ViewData["Title"] = "Treniruočių rezervacija";
}


<h1 class="display-4">TRENIRUOČIŲ REZERVACIJOS PUSLAPIS</h1>
<table class="table" id="rezervations">
    <thead>
        <tr>
            <th>Trenerio vardas, pavardė</th>
            <th>Vietu kiekis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TrainingSess != null && Model.TrainingSess.Count > 0)
        {
            foreach (var sess in Model.TrainingSess)
            {
                <tr>
                    <td>@sess.Item2.trenerio_vardas @sess.Item2.trenerio_pavarde</td>
                    <td>@sess.Item1.vietu_kiekis</td>
                    <td>
                        <form id="rezerveTraining" asp-page-handler="AddRezervation" method="post" role="form">
                            <input type="hidden" name="weekD" value='@Model.WeekDay' /> 
                            <input asp-for="SessionId" type="hidden" value='@sess.Item1.treniruotes_nr' /> 
                            <input class="btn btn-success" type="submit" value="Rezervuoti" @(sess.Item1.vietu_kiekis == 0 ? "disabled" : "") />
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<br />
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Parinkti trenerį automatiškai
</button>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="rezerveTraining" method="post" role="form">
      <div class="modal-body">
          <div class="slidecontainer">
            <label for="kult" class="form-label">Kulturizmas</label>
            <input type="range" min="0" max="1" step="0.01" value="0.5" id="kult" class="form-range" asp-for="UserSpec.kulturizmas">
          </div>
          <div class="slidecontainer">
            <label for="leng-atl" class="form-label">Lengvoji atletika</label>
            <input type="range" min="0" max="1" step="0.01" value="0.5" id="leng-atl" class="form-range" asp-for="UserSpec.legvoji_atletika">
          </div>
          <div class="slidecontainer">
            <label for="sunk-atl" class="form-label">Sunkioji atletika</label>
            <input type="range" min="0" max="1" step="0.01" value="0.5" id="sunk-atl" class="form-range" asp-for="UserSpec.sunkioji_atletika">
          </div>
          <div class="slidecontainer">
            <label for="jeg-tri" class="form-label">Jegos trikovė</label>
            <input type="range" min="0" max="1" step="0.01" value="0.5" id="jeg-tri" class="form-range" asp-for="UserSpec.jegos_trikove">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Uždaryti</button>
        <button type="submit" class="btn btn-primary">Pateikti</button>
      </div>
      </form>
    </div>
  </div>
</div>

<br />

<table class="table" id="rezervations" @((Model.AutoSelected == null || (Model.AutoSelected != null && Model.AutoSelected.Count == 0)) ? "style=display:none" : "")>
    <thead>
        <tr>
            <th>Trenerio vardas, pavardė</th>
            <th>Vietu kiekis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.AutoSelected != null && Model.AutoSelected.Count > 0)
        {
            foreach (var sess in Model.AutoSelected)
            {
                <tr>
                    <td>@sess.Train.trenerio_vardas @sess.Train.trenerio_pavarde</td>
                    <td>@sess.Session.vietu_kiekis</td>
                    <td>
                        <form id="rezerveTraining" asp-page-handler="AddRezervation" method="post" role="form">
                            <input type="hidden" name="weekD" value='@Model.WeekDay' /> 
                            <input asp-for="SessionId" type="hidden" value='@sess.Session.treniruotes_nr' /> 
                            <input class="btn btn-success" type="submit" value="Rezervuoti" @(sess.Session.vietu_kiekis == 0 ? "disabled" : "") />
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>
</table>















@section Scripts{
    <script>
        const table = new DataTable('#rezervations', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/lt.json',
            },
            columnDefs: [
                { orderable: false, targets: -1 , searchable: false }
            ]
        });
    </script>
}
