@page
@model GymTimeListModel
@{
    ViewData["Title"] = "Treniruočių laikų sąrašas";
}
@if (TempData["SuccessRezervation"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessRezervation"]
    </div>
}
<h1>@ViewData["Title"]</h1>
<p>Jusu rezervacijos: </p>
<table class="table">
    <thead>
        <tr>
            <th>Laikas nuo iki</th>
            <th>Treneris</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br />
<p>Galimos rezervacijos: </p>
<table class="table" id="rezervations">
    <thead>
        <tr>
            <th>Laikas nuo</th>
            <th>Laikas iki</th>
            <th>Viekų skaičius</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TrainingSess != null && Model.TrainingSess.Count > 0)
        {
            foreach (var sess in Model.TrainingSess)
            {
                <tr>
                    <td>@sess.Item1</td>
                    <td>@sess.Item2</td>
                    <td>@sess.Item3</td>
                    <td><a class="text-dark" href='@string.Format("./GymReservationView?Start={0}&End={1}&Weekd={2}",sess.Item1, sess.Item2, Model.WeekD)'>Rezervuoti</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        const table = new DataTable('#rezervations', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/lt.json',
            },
            columnDefs: [
                { orderable: false, targets: -1 , searchable: false }
            ]
        });
    </script>
}