@page
@model GymTimeListModel
@{
    ViewData["Title"] = "Treniruočių laikų sąrašas";
}
@if (TempData["SuccessRezervation"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessRezervation"]
    </div>
}
<h1>@ViewData["Title"]</h1>
<h5>Jusu rezervacijos: </h5>
<table class="table">
    <thead>
        <tr>
            <th>Laikas nuo</th>
            <th>Laikas iki</th>
            <th>Treneris</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.UserGymRezervation != null && Model.UserGymRezervation.Count > 0)
        {
            foreach (var sess in Model.UserGymRezervation)
            {
                string disabled = ((sess.TrainingSession.treniruotes_pradzia - TimeOnly.FromDateTime(DateTime.Now) < TimeSpan.Parse("02:00:00")) ? "disabled" : "");

                <tr>
                    <td>@sess.TrainingSession.treniruotes_pradzia</td>
                    <td>@sess.TrainingSession.treniruotes_pabaiga</td>
                    <td>@sess.Trainer.trenerio_vardas @sess.Trainer.trenerio_pavarde</td>
                    <td>
                        <a class="btn btn-primary @disabled" href="/GymSystem/GymEditRezervationView?id=@sess.Rezervation.id_Sporto_sales_rezervacija" aria-disabled="@(disabled == ""? "false":"true")">Redaguoti</a>
                    </td>
                    <td>
                        <form id="rezerveTraining" method="post" role="form">
                            <input type="hidden" name="id" value='@sess.Rezervation.id_Sporto_sales_rezervacija' /> 
                            <input type="hidden" asp-for="WeekD" /> 
                            <input class="btn btn-danger" type="submit" value="Šalinti" @disabled />
                        </form>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="3">Jūs nesate užsirezervavę</td>
                <td style="display: none"></td>
                <td style="display: none"></td>
            </tr>
        }
    </tbody>
</table>

<br />
<h5>Galimos rezervacijos: </h5>
<table class="table" id="rezervations">
    <thead>
        <tr>
            <th>Laikas nuo</th>
            <th>Laikas iki</th>
            <th>Viekų skaičius</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TrainingSess != null && Model.TrainingSess.Count > 0)
        {
            foreach (var sess in Model.TrainingSess)
            {
                <tr>
                    <td>@sess.StartTime</td>
                    <td>@sess.EndTime</td>
                    <td>@sess.SessId</td>
                    <td><a class="btn btn-success" href='@string.Format("./GymReservationView?Start={0}&End={1}&Weekd={2}",sess.StartTime, sess.EndTime, Model.WeekD)'>Rezervuoti</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td class="text-center" colspan="4">Šiandien treniruočių nebėra</td>
                <td style="display: none"></td>
                <td style="display: none"></td>
                <td style="display: none"></td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        const table = new DataTable('#rezervations', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/lt.json',
            },
            columnDefs: [
                { orderable: false, targets: -1 , searchable: false }
            ]
        });
    </script>
}