@page
@model GymTimeListModel
@{
    ViewData["Title"] = "Treniruočių laikų sąrašas";
}
<h1>@ViewData["Title"]</h1>
<p>Jusu rezervacijos: </p>
<table class="table">
    <thead>
        <tr>
            <th>Laikas nuo iki</th>
            <th>Treneris</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sess in Model.TrainingSess)
        {
        <tr>
            <td>@sess.treniruotes_pradzia</td>
            <td>@sess.fk_Trenerisid_Treneris</td>
            <td><a class="text-dark" href='@string.Format("./GymEditRezervationView?TrainingSess={0}",sess.treniruotes_nr)'>Redaguoti</a><a href="#" onclick="return confirm('Ar tikrai norite atšaukti rezervaciją?');">Atšaukti</a></td>
        </tr>
        }
    </tbody>
</table>

<br />
<p>Galimos rezervacijos: </p>
<table class="table">
    <thead>
        <tr>
            <th>Laikas nuo iki</th>
            <th>Treneris</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sess in Model.TrainingSess)
        {
            <tr>
                <td>@sess.treniruotes_pradzia</td>
                <td>@sess.fk_Trenerisid_Treneris</td>
                <td><a class="text-dark" href='@string.Format("./GymRezervationView?TrainingSess={0}",sess.treniruotes_nr)'>Rezervuoti</a></td>
            </tr>
        }
    </tbody>
</table>
