@page
@model ViesbucioPuslapis.Pages.ClientSystem.ClientDetailsModel
@{
    ViewData["Title"] = "Kliento informacija";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Vardas</th>
            <th>Pavardė</th>
            <th>El. pastas</th>
            <th>Slaptažodis</th>
            <th>Kliento telefono numeris</th>
            <th>Kliento gimimo data</th>
            <th>Kliento lytis</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Client != null && Model.User != null)
        {
            <tr>
                <td>@Model.Client.id_Naudotojas</td>
                <td>@Model.User.naudotojo_vardas</td>
                <td>@Model.User.naudotojo_pavarde</td>
                <td>@Model.User.elektroninis_paštas</td>
                <td>@Model.User.slaptažodis</td>
                <td>@Model.Client.kliento_telefono_numeris</td>
                <td>@Model.Client.kliento_gimimo_data</td>
                <td>@Model.Client.kliento_lytis</td>
                <td>
                    <!-- Galite pridėti papildomų veiksmų nuorodų čia -->
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="text-dark" asp-area="" asp-page="/ClientSystem/ClientsList">Grįžti į klientų sąrašą</a>
</div>