@page
@model ViesbucioPuslapis.Pages.ClientSystem.EditClientModel
@{
    ViewData["Title"] = "Redaguoti kliento informaciją";
}

<h1>@ViewData["Title"]</h1>
@if (Model.Client != null && Model.User != null)
{
    <form method="post" asp-page-handler="OnPost">
        <div class="form-group">
            <label for="naudotojo_vardas">Vardas</label>
            <input type="text" class="form-control" id="naudotojo_vardas" name="naudotojo_vardas" value="@Model.User.naudotojo_vardas" required>
        </div>
        <div class="form-group">
            <label for="naudotojo_pavarde">Pavardė</label>
            <input type="text" class="form-control" id="naudotojo_pavarde" name="naudotojo_pavarde" value="@Model.User.naudotojo_pavarde" required>
        </div>
        <div class="form-group">
            <label for="elektroninis_paštas">Elektroninis paštas</label>
            <input type="email" class="form-control" id="elektroninis_paštas" name="elektroninis_paštas" value="@Model.User.elektroninis_paštas" required>
        </div>
        <div class="form-group">
            <label for="slaptažodis">Slaptažodis</label>
            <input type="text" class="form-control" id="slaptažodis" name="slaptažodis" value="@Model.User.slaptažodis" required>
        </div>
        <div class="form-group">
            <label for="kliento_telefono_numeris">Telefono numeris</label>
            <input type="number" class="form-control" id="kliento_telefono_numeris" name="kliento_telefono_numeris" value="@Model.Client.kliento_telefono_numeris" required>
        </div>
        <div class="form-group">
            <label for="kliento_gimimo_data">Gimimo data</label>
            <input type="date" class="form-control" id="kliento_gimimo_data" name="kliento_gimimo_data" value="@Model.Client.kliento_gimimo_data.ToString("yyyy-MM-dd")" required>
        </div>
        <!-- Include other client editing fields as needed -->

        <button type="submit" class="btn btn-primary">Išsaugoti</button>
    </form>
}
<div class="text-center">
    <a class="text-dark" asp-area="" asp-page="/ClientSystem/ClientsList">Grįžti į klientų sąrašą</a>
</div>