@page
@model ViesbucioPuslapis.Pages.ClientSystem.EditClientModel
@{
    ViewData["Title"] = "Redaguoti kliento informaciją";
}

<h1>@ViewData["Title"]</h1>
 @foreach (var client in Model.Clients)
        {
    @foreach (var user in Model.Users)
    {
        @if (client.id_Naudotojas == user.id_Naudotojas)
        {
            <form method="post">
                <div class="form-group">
                    <label for="name">Vardas</label>
                    <input type="text" class="form-control" id="name" name="name" value="@user.naudotojo_vardas" required>
                </div>
                <div class="form-group">
                    <label for="surname">Pavardė</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="@user.naudotojo_pavarde" required>
                </div>
                <div class="form-group">
                    <label for="surname">Pavardė</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="@user.elektroninis_paštas" required>
                </div>
                <div class="form-group">
                    <label for="surname">Pavardė</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="@user.slaptažodis" required>
                </div>
                <div class="form-group">
                    <label for="surname">Pavardė</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="@client.kliento_telefono_numeris" required>
                </div>
                <div class="form-group">
                    <label for="surname">Pavardė</label>
                    <input type="text" class="form-control" id="surname" name="surname" value="@client.kliento_gimimo_data" required>
                </div>
                <!-- Įtraukite kitus kliento redagavimo laukus pagal poreikį -->

                <button type="submit" class="btn btn-primary">Išsaugoti</button>
            </form>
        }

    }
 }
