@page
@model ViesbucioPuslapis.Pages.RoomSystem.OwnedReservationModel
@{
    ViewData["Title"] = "Jūsų rezervacija";
}

@if (TempData["RoomReservationDeleteSuccess"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["RoomReservationDeleteSuccess"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Jūsų rezervacija</h1>
</div>


@if (Model.reservations != null && Model.reservations.Count > 0)
{
    <div class="row align-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th>Kambario numeris</th>
                    <th>Pradžia</th>
                    <th>Pabaiga</th>
                    <th>Kaina</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var res in Model.reservations)
                {
                    <tr>
                        <td>@res.fk_Kambarys_kambario_numeris</td>
                        <td>@res.pradžia.ToString("yyyy-MM-dd")</td>
                        <td>@res.pabaiga.ToString("yyyy-MM-dd")</td>
                        <td>@res.kaina</td>
                          <td>
                                <form id="deleteReservation" method="post" role="form">
                                    <button class="btn btn-danger" type="submit" name="resid" value='@res.id_Kambario_rezervacija'>
                                        Šalinti šią rezervaciją
                                    </button>
                                </form>
                           </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row justify-content-end">
        <div class="col-sm-2">
            <a class="btn btn-success" asp-page="/ClientSystem/LeaveRoomReview">Palikti atsiliepimą apie kambarį</a>
        </div>
    </div>
}
else
{
    <div class="text-center">
        <p>Neturite kambario rezervacijos</p>
    </div>  
}

<div class="text-center">
    <a class="text-dark" asp-area="" asp-page="/Index">Grįžti</a>
</div>



