@page
@model ViesbucioPuslapis.Pages.RoomSystem.ReserveRoomModel
@{
    ViewData["Title"] = "Kambario rezervacija";
}

<div class="row align-content-start">
    <div class="col-md-2">
        <a class="btn btn-danger" href="/Index" role="button">Atšaukti</a>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Rezervuoti @Model.RoomNr kambarį</h1>
    <br>

        <div class="row align-content-center">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Kambario numeris</th>
                        <th>Vietų kiekis</th>
                        <th>Rezervacijos kaina</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>@Model.RoomNr</td>
                        <td>@Model.room.vietu_kiekis</td>
                        <td>@Model.reservationCost</td>
                    </tr>
                </tbody>
            </table>
        </div>

</div>

<div class="row justify-content-end">
    <div class="col-sm-2">
        <button class="btn btn-primary" ID="ReservationBtn" OnClick="@Model.ReservationBtn_Click()" runat="server">Rezervuoti</button>
    </div>
</div>